:root {
    --gold: #CDA43F;
    --daisy: #E9E7DA;
    --stem: #636B46;
    --greenery: #373F27;
}

#portfolio-body {
    background-color:aliceblue;
    
}

#profile-picture {
    margin-left: 20px;
}

#greeting {
    font-family: 'Playfair Display', serif;
}

#card1 {
    background-color: var(--gold);
}

#card2 {
    background-color: var(--daisy);
}

#card3 {
    background-color: var(--greenery);
}

#card4 {
    background-color: var(--stem);
}