:root {
    --gold: #CDA43F;
    --daisy: #E9E7DA;
    --stem: #636B46;
    --greenery: #373F27;
    --charcoal: #1F2833;
    --navy: #313456;
    --subtle-gold: #B8a26C;
    --forest: #6E7E75;
}

* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

#title-p {
    color: var(--gold);
}

#portfolio-body {
    background-color:aliceblue;
}

#about-me {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 30%), 0 0 0 1px rgb(10 10 10 / 2%);
}

#profile-picture {
    margin-left: 20px;
}

#card-container {
    display: flex;
    justify-content: space-evenly;
}

#github-link {
    color: var(--forest);
}

.card-content:hover {
    background-color: var(--subtle-gold);
}

#links {
    margin: .5%;
    color: var(--charcoal);
}

.box {
    margin: 5px;
}

#carousel1 {
    background-color: var(--navy);
    overflow: hidden;
    position:relative;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;
}

.carousel-actions{
    display: flex;
    position: relative;
    justify-content: center;
}

#left-button,
#right-button {
    margin: 35px;
}

#greeting-section {
    margin: 100px 200px;
    width: 60%;
    padding: 10px;
}

.carousel .carousel-item-visible {
    display: block;
}

#carousel2,
#carousel3,
#carousel4,
#carousel5 {
    display: none;
}