:root {
    --gold: #CDA43F;
    --daisy: #E9E7DA;
    --stem: #636B46;
    --greenery: #373F27;
    --charcoal: #1F2833;
    --navy: #313456;
    --subtle-gold: #B8a26C;
    --forest: #6E7E75;
    --black: #1A1A1D;
}

* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

#title-p {
    color: var(--gold);
}

.subtitle a:hover {
    background-color: var(--navy);
}

/* .subtitle a::after {
    content: "click";
} */

#portfolio-body {
    background-color:var(--black);
}

#about-me {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 30%), 0 0 0 1px rgb(10 10 10 / 2%);
}

#profile-picture {
    margin-left: 20px;
}

#card-container {
    display: flex;
    justify-content: space-evenly;
}

#github-link {
    color: var(--forest);
}

.card-content:hover {
    background-color: var(--subtle-gold);
}

#links {
    margin: .5%;
    color: var(--charcoal);
}

.box {
    margin: 5px;
}

#greeting-section {
    margin: 100px 200px;
    width: 60%;
    padding: 10px;
}

/* carousel css */
.carousel h2 {
    color: var(--navy);
}

.carousel .carousel-actions{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    background-color: var(--gold);
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.carousel .carousel-actions button#left-button {
    margin-left: 10px;
}

.carousel .carousel-actions button#right-button {
    margin-right: 10px;
}

.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
    margin-bottom: 7%;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none;
}

.carousel .carousel-item img {
    max-width: 600px;
    width: 100%;
    height: auto;
}

.carousel .carousel-item-visible {
    display: block;
}