:root {
    --gold: #CDA43F;
    --daisy: #E9E7DA;
    --stem: #636B46;
    --greenery: #373F27;
}

#title-p {
    font-family: 'Playfair Display', serif;
}

#portfolio-body {
    background-color:var(--stem);
}

#profile-picture {
    margin-left: 20px;
}

#greeting {
    font-family: 'Playfair Display', serif;
}

#card-container {
    display: flex;
    justify-content: space-evenly;
}

.box {
    margin: 5px;
}

#card1,
#card2,
#card3,
#card4 {
    background-color: var(--gold);
}

#greeting-section {
    margin: 100px 200px;
    width: 60%;
    padding: 10px;
}